.common-user-card {
    background-color: rgb(232, 185, 248);
    border: #000;
    filter: drop-shadow(0 0 2px rgba(234, 57, 184, .9)) drop-shadow(0 0 4px rgba(234, 57, 184, .4)) drop-shadow(0 0 1rem rgba(234, 57, 184, .3)) drop-shadow(0 0 4rem rgba(234, 57, 184, .1));
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-secondary-rgb),var(--bs-border-opacity))!important;
    height: 200px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 25px;
    border-radius: 20px;
}