.common-user-card {
    background-color: rgb(232, 185, 248);
    border: #000;
    filter: drop-shadow(0 0 2px rgba(234, 57, 184, .9)) drop-shadow(0 0 4px rgba(234, 57, 184, .4)) drop-shadow(0 0 1rem rgba(234, 57, 184, .3)) drop-shadow(0 0 4rem rgba(234, 57, 184, .1));
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-secondary-rgb),var(--bs-border-opacity))!important;
    height: 200px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 25px;
    border-radius: 20px;
}

button.animal {
    background: #91eae4;
    background: -webkit-linear-gradient(to bottom, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #e25891, #a35bd3, rgb(100, 18, 120));
    border-radius: 5px;
    padding: 3px 8px;
    border: 1px solid #91eae4;
}